APP_NAME="go-clean-architecture"
APP_ENV="local"
APP_SECURE=false
APP_DEBUG=true

APP_PROTOCOL="tcp"
APP_HOST="localhost"

APP_HTTP_PORT=9091

APP_LOG_LEVEL="debug"
APP_JWT_SECRET="secret"

DB_HOST="localhost"
DB_PORT=5432
DB_NAME="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_MAX_IDLE=10
DB_MAX_OPEN=100

ALLOWED_ORIGINS="*"
RATE_LIMITER_RPS=20
RATE_LIMITER_BURST=5


